---
---

<div class="bg-auto" style="background-image: url('/valechiMaestra/piano.jpg')">
  <div
    class="flex flex-col justify-center h-full px-4 sm:py-36 lg:pt-36 text-center"
  >
    <h1 class="font-bold text-white mb-4 text-6xl">Listo para seguir</h1>
    <h1 class="font-extrabold text-white text-6xl">tus sueños</h1>

    <p class="text-lg text-white pb-4">
      Ponte en contacto, para comenzar tus lecciones
    </p>
    <div class="items-center justify-center text-center flex py-4">
      <a
        href="/valechiMaestra/contact"
        class="bg-stone-700 text-stone-200 py-2 px-4 rounded-2xl font-semibold shadow-md hover:bg-stone-800 transition duration-300 ease-in-out inline-block"
        >Unete ahora</a
      >
    </div>
  </div>
</div>
