---
import Social from "./Media.astro";

const items = [
  {
    title: "Acerca de mi",
    path: "/valechiMaestra/about",
  },
  { title: "Programas", path: "/valechiMaestra/programs" },
  {
    title: "Contacto",
    path: "/valechiMaestra/contact",
  },
];
---

<header
  class="bg-cover bg-center min-h-screen w-screen h-screen max-h-screen"
  style="background-image: url('/valechiMaestra/images/piano2.jpg')"
>
  <nav x-data="{ isOpen: false }" class="text-stone-200 p-4 hide:bg-stone-800">
    <div class="container px-6 mx-auto">
      <div class="lg:flex lg:items-center lg:justify-between">
        <div class="flex items-center justify-between">
          <div class="font-thin">
            <a
              class="cursor-pointer text-3xl md:text-6xl"
              href="/valechiMaestra/">Valechi Ayala</a
            >
          </div>

          <!-- Mobile menu button -->
          <div class="flex lg:hidden">
            <button
              x-cloak
              @click="isOpen = !isOpen"
              type="button"
              class="text-white font-bold focus:outline-none"
              aria-label="toggle menu"
            >
              <svg
                x-show="!isOpen"
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 8h16M4 16h16"></path>
              </svg>

              <svg
                x-show="isOpen"
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>

        <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
        <div
          x-cloak
          :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']"
          class="absolute inset-x-0 z-20 w-full px-6 py-4 transition-all duration-300 ease-in-out bg-stone-800 shadow-md lg:bg-transparent l lg:shadow-none lg:mt-0 lg:p-0 lg:top-0 lg:relative lg:w-auto lg:opacity-100 lg:translate-x-0 text-stone-300"
        >
          <div class="lg:flex lg:items-center gap-4 md:gap-6">
            {
              items.map((item) => (
                <a
                  href={item.path}
                  class="block text-base md:text-lg hover:text-white border-b-2 border-transparent duration-300 transform hover:border-white mx-1.5 sm:mx-2 md:mx-6 hover:semibold  font-semibold"
                >
                  {item.title}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="flex flex-col justify-center h-full w-full">
    <div
      class="flex flex-col items-center justify-center w-full h-full text-stone-200 bg-stone-900/20"
    >
      <div class="text-center">
        <h1 class="text-2xl md:text-4xl">Hola</h1>
        <h1 class="font-bold text-5xl md:text-8xl">
          Mi nombre es <span class="text-yellow-700">Valeria.</span>
        </h1>
        <h1 class="text-4xl md:text-7xl font-bold">Pianista profesional.</h1>

        <p class="mt-4 text-base md:text-xl">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem, at.
        </p>
      </div>
      <div class="flex flex-col items-center justify-center">
        <div class="mt-8 flex gap-4">
          <Social />
        </div>
      </div>
    </div>
  </div>
</header>
