---
export interface Props {
  title?: string;
}

const { title } = Astro.props;

import Navbar3 from "@components/Navbar3.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js"
      integrity="sha512-nIwdJlD5/vHj23CbO2iHCXtsqzdTTx3e3uAmpTm4x2Y8xCIFyWu4cSIV8GaGe2UNVq86/1h9EgUZy7tn243qdA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="icon"
      href="/valechiMaestra/images/icon.svg"
      type="image/x-icon"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="generator" content={Astro.generator} />
    <title>Valeria Ayala | {title}</title>
  </head>
  <body class="bg-zinc-200">
    <Navbar3 />
    <div class="max-w-5xl mx-auto mt-16">
      <slot />
    </div>
  </body>
</html>
